html {
	height: 100%;
}

body{
	background: $basecolor;
	font-family: $basefont;
	// height: 1000px;
}

main{
	text-align: center;
}

a:link, a:visited{
	color: white;
	transition: 3s;
}
a:hover, a:active{
	background: black;
	color: white;
	font-size: 2em;
	transition: 3s;
}

#github{
	max-width: 10%;
}
