@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

$basefont: 'Oswald', sans-serif;
$headfont: 'Raleway', sans-serif;
$basecolor: linear-gradient(to bottom right, grey, white);
// $basecolor: rgb(169, 169, 169);
